@use "../../../../styles/variables.scss" as *;

.navItem__content {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 8px;
    transition: ease-in-out 0.2s;
    gap: 8px;

    &:hover {
        background-color: $foreground-secondary;
    }

    .navItem__content__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 18px;
            height: 18px;
            color: $text-primary;
        }
    }

    .navItem__content__text {
        font-size: 16px;
        font-weight: 400;
        color: $text-primary;
    }

    &.active {
        position: relative;
        background-color: $foreground-primary;
        border-left: 6px solid $background-secondary;
        border-radius: 0px 8px 8px 0px;

        .navItem__content__text {
            color: $text-light;
        }

        .navItem__content__icon {
            svg {
                color: $text-light;
            }
        }

        &:hover {
            background-color: darken($foreground-primary, 10%);
        }

        @keyframes slideBorder {
            0% {
                width: 0px;
            }

            100% {
                width: 4px;
            }
        }
    }

    &.logout {
        span {
            color: $red-100;
        }

        .navItem__content__icon {
            svg {
                color: $red-100;
            }
        }
    }
}

@media (max-width: 1440px) {
    .navItem__content {
        justify-content: center;

        .navItem__content__text {
            display: none;
        }

        .navItem__content__icon {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .navItem__content {
        justify-content: flex-start;
        padding: 12px 16px;
        gap: 8px;

        .navItem__content__text {
            display: block;
        }
    }
}