$transition-speed: 0.5s;

.timeline_container {
  display: flex;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.timeline_container_card {
  position: relative;
  transition: all $transition-speed ease;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  background-size: cover;
  background-position: center;

  &.default {
    flex: 2;
  }

  &.expanded {
    flex: 5;
  }

  &.collapsed {
    flex: 1;
  }
}
