@use '../../../styles/variables.scss' as *;

.popup__section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    .popup__section__box {
        display: flex;
        flex-direction: column;
        background-color: $background-primary;
        min-width: 600px;
        max-width: 800px;
        padding: 32px;
        border-radius: 12px;
        gap: 32px;
        z-index: 999;
        overflow-y: auto;
        max-height: 80vh;
        
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-thumb {
            background: #aaa;
            border-radius: 4px;
        }

        & > div {
            width: 100%;
            display: flex;

        }
    }

    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
    }

    &.closed {
        display: none;
    }
}
