@use '@/styles/variables.scss' as *;

.sectionTitle_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;

    h3 {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: $text-primary;
    }

    h2 {
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        color: $text-primary;
    }
}

@media screen and (max-width: 1040px) {
    .sectionTitle_content {
        h2 {
            font-size: 1.75rem;
        }

        h3 {
            font-size: 0.95rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .sectionTitle_content {
        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .sectionTitle_content {
        h2 {
            font-size: 1.25rem;
        }

        h3 {
            font-size: 0.85rem;
        }
    }
}