@use '../../../styles/variables.scss' as *;

.footer__content {
    background-color: $background-secondary;
    padding: 64px 150px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100vw;
    max-width: 100vw;

    .footer__content__contactInfo {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: fit-content;

        .footer__content__contactInfo__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                width: 200px;
                height: auto;
            }
        }

        .footer__content__contactInfo__details {
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 70%;

            .copyright {
                margin: 16px 0;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                color: $gray-100;
            }
        }
    }

    .footer__content__navigation {
        flex: 1;
        display: flex;
        align-items: flex-start;
        gap: 64px;

        .footer__content__navigation__navLinks {
            display: flex;
            flex-direction: column;
            gap: 12px;

            h3 {
                font-size: 16px;
                font-weight: 500;
                color: $text-light;
                text-transform: uppercase;
            }

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    a {
                        color: $gray-100;
                        text-decoration: none;
                        font-size: 14px;
                        transition: ease-in-out 0.2s;
                        text-transform: uppercase;

                        &:hover {
                            color: $text-light;
                        }
                    }
                }
            }
        }

        .footer__content__navigation__navLinks__socials {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            svg {
                width: 24px;
                height: 24px;
                color: $gray-100;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: $text-light;
                }
            }
        }
    }

    .footer__content__newsLetter {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        
        h2 {
            font-size: 28px;
            font-weight: 600;
            color: $text-light;
            text-transform: uppercase;
        }

        .footer__content__newsLetter__form {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: fit-content;

            input {
                background-color: transparent;
                border: 1px solid $foreground-primary;

                color: $text-light;
                padding-right: 200px;
            }

            .footer__content__newsLetter__form__button {
                position: absolute;
                right: 0;

                button {
                    height: 100%;
                    padding: 18px 64px;
                }
            }
        }
    }
}