.sliderCards__content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    .sliderCards__content__controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;

        &:first-of-type {
            left: -20px;
        }

        &:last-of-type {
            right: -20px;
        }
    }

    .sliderCards__content__slider {
        overflow-x: auto;
        display: flex;
        align-items: flex-start;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scroll-snap-type: x mandatory;
        cursor: grab;
        gap: 20px;
        padding: 10px 0;

        &::-webkit-scrollbar {
            display: none;
        }

        &.active {
            cursor: grabbing;
            cursor: -webkit-grabbing;
        }

        .sliderCards__content__slider__card {
            flex: 0 0 auto;
            scroll-snap-align: start;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-4px);
            }
        }
    }
}