@use '@/styles/variables.scss' as *;

.homeAboutUs__content {
    max-width: 100vw;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 64px 64px;

    .homeAboutUs__content__main {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .homeAboutUs__content__main__header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            p {
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: $text-dark;
                word-break: break-word;
                overflow-wrap: break-word;
                max-width: 100%;
                min-width: 400px;
                max-width: 750px;
                line-height: 1.5;
            }
        }

        .homeAboutUs__content__main__image {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            gap: 32px;
            margin-top: -16px;
            margin-bottom: 12px;

            .homeAboutUs__content__main__image__item {
                position: relative;
                width: 350px;
                height: 380px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                overflow: hidden;
            }

            >:nth-child(2) {
                margin-top: 96px;
                width: 400px;
                height: 450px;
            }
        }

        .homeAboutUs__content__main__footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            .homeAboutUs__content__main__footer__title {
                & > div {
                    gap: 0px;
                }
            }

            p {
                text-align: center;
                font-size: 15px;
                font-weight: 400;
                color: $text-dark;
                word-break: break-word;
                overflow-wrap: break-word;
                max-width: 100%;
                min-width: 400px;
                max-width: 750px;
                line-height: 1.5;
                margin-bottom: 8px;
            }
        }
    }
}

@media screen and (max-width: 1040px) {
    .homeAboutUs__content {
        padding: 64px 48px;
        gap: 24px;

        .homeAboutUs__content__main {
            .homeAboutUs__content__main__text {
                min-width: auto;
                max-width: 100%;

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .homeAboutUs__content {
        flex-direction: column;
        padding: 64px 16px 48px 16px;
        gap: 40px;

        .homeAboutUs__content__main {
            width: 100%;
            align-items: center !important;
            justify-content: center;
            text-align: center;

            &>div {
                display: flex;
                align-items: center !important;
            }

            .homeAboutUs__content__main__text {
                width: 90%;

                p {
                    text-align: center;
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .homeAboutUs__content {
        padding: 64px 16px 32px 16px;
        gap: 24px;

        .homeAboutUs__content__main {
            width: 100%;
            gap: 12px;

            .homeAboutUs__content__main__text {
                p {
                    text-align: justify;
                    font-size: 14px;
                }
            }
        }
    }
}